body {
    margin: 0;
}

h1{
    margin: center;
}

.top-container {
    background-color: #DAF7A6;
    
    
}

.middle-container {
    background-color: #FFC300;
    width: 200px;
    height: 200px;
    
}

.botton-container {
    align-self: center;
    background-color: #FF5733;
    width: 200px;
    height: 200px;
    
}

div{
    border-color: black;
}